.form-group {
	padding: 10px
}

.container {
	width: 100px;
	margin-top: 20px;
}

.button-group {
	margin: 20px;
}

.counter {
	display: inline;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
}

.posts {
	clear: both;
	list-style: none;
	padding-left: 0;
	width: 100%;
}

.input2 input {
	display: block;
	margin: 2%;
}